{% extends "layout.html" %}
{% load static %}
{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<link rel="stylesheet" href="{% static 'css/styling-topics.css' %}">
<link rel="stylesheet" href="{% static 'css/calc-style/st-calculos.css' %}">

<div class="header acero px-3">
    <h1 class="pb-2">Acero Óptimo</h1>
</div>

<div class="row d-flex justify-content-around" style="max-width: 1000px;">
    <div class="card m-4">
        <div class='card-body p-3'>
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Datos de Entrada</strong></h3>
            </div>
            <form action="/acero_calculos/" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div id='group-{{ field.name }}'>
                    <div class='form-group validate {{ field.name }}'>
                        {{ field }}
                        <span class="form-span {{ field.name }}" data-placeholder="{{ field.label }}"></span>
                    </div>
                    <br>
                </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    <input class="submit acero m-4" type="submit" name='submit' value="Calcular">
                </div>
            </form>
        </div>
    </div>
<div class="mb-4">
    {% if submitbutton == "Calcular" %} 
    <ol class="step pl-0"></ol>
    <li class="step-element pb-0">
        <div class="step-number"><span class="number"></span></div>
        <div class="step-excerpt">
            <h6 class="font-weight-bold dark-grey-text mb-3 pt-3">Area</h6>
            <p>El área de acero calculado es:</p>
            <p>\[Asc = {{asc}}[cm^2]\]</p>
            <p>El área suministrado es:</p>
            <p>\[Ass = {{ass_show}}[cm^2]\]</p>
        </div>
    </li>
    <li class="step-element pb-0">
        <div class="step-number"><span class="number"></span></div>
        <div class="step-excerpt">
            <h6 class="font-weight-bold dark-grey-text mb-3 pt-3">Barras de acero</h6>
            <p>Las barras suministradas son:</p>
            <p id="viga">\[{{bar_show}}\]</p>
            <p id="col">\({{n}}\) barras \(N{{dB}}\)</p>
            <p id="col">Distribuidas así:</p>
            <p id="col">\({{nb}}\) en las caras paralelas a \(b\)</p>
            <p id="col">\({{nh}}\) en las caras paralelas a \(h\)</p>
        </div>
    </li>
    <li class="step-element pb-0">
        <div class="step-number"><span class="number"></span></div>
        <div class="step-excerpt">
            <h6 class="font-weight-bold dark-grey-text mb-3 pt-3">Separación</h6>
            <p id="viga">La separación entre barras es:</p>
            <p id="viga">\[sep = {{sep}}[cm]\]</p>
            <p id="col">La separación en \(b\) es:</p>
            <p id="col">\[sepb = {{sepb}}[cm]\]</p>
            <p id="col">La separación en \(h\) es:</p>
            <p id="col">\[seph = {{seph}}[cm]\]</p>
        </div>
    </li>
    {% endif %}
</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/js-acero.js' %}"></script>
{% endblock %}