{% extends "layout.html" %}
{% load static %}
{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

<link rel="stylesheet" href="{% static 'css/styling-topics.css' %}">
<link rel="stylesheet" href="{% static 'css/style-button-norm.css' %}">

<div class="header vigas px-3">
    <h1 class="pb-2">Vigas</h1>
</div>

<div>
<!-----Notaciones----->
    <div class="container p-2">
        <button class="notaciones-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#notacionesToggler"
        aria-controls="notacionesToggler" aria-expanded="false" aria-label="Toggle notaciones">Notaciones</button>
        <div class="collapse notaciones-collapse" id="notacionesToggler">
            <li class="text-justify">\(a\) = profundidad del bloque rectangular equivalente de esfuerzos.</li>
            <li class="text-justify">\(A_{ch}\) = área de la sección transversal de un elemento estructural, medida entre los bordes exteriores del refuerzo transversal.</li>
            <li class="text-justify">\(A_s\) = área de refuerzo longitudinal no preesforzado a tracción.</li>
            <li class="text-justify">\(A_s´\) = área del refuerzo a compresión.</li>
            <li class="text-justify">\(A_{sh}\) = área total de refuerzo transversal (incluyendo ganchos suplementarios) colocado dentro del espaciamiento \(s\) y perpendicular a la dimensión \(b_c\).</li>
            <li class="text-justify">\(A_s´\) = área mínima de refuerzo de flexión.</li>
            <li class="text-justify">\(b\) = ancho de la cara en compresión del elemento.</li>
            <li class="text-justify">\(b_c\) = dimensión transversal del núcleo del elemento medida entre los bordes externos del refuerzo transversal con área \(A_{sh}\).</li>
            <li class="text-justify">\(b_w\) = ancho del alma o diámetro de la sección circular.</li>
            <li class="text-justify">\(c\) = distancia medida desde la fibra extrema en compresión al eje neutro.</li>
            <li class="text-justify">\(c_c\) = recubrimiento libre del refuerzo.</li>
            <li class="text-justify">\(d\) = distancia desde la fibra extrema en compresión hasta el centroide del refuerzo longitudinal en tracción.</li>
            <li class="text-justify">\(d'\) = distancia desde la fibra extrema en compresión al centroide del refuerzo longitudinal en compresión.</li>
            <li class="text-justify">\(d_b\) = diámetro nominal de una barra, alambre o torón de preesforzado.</li>
            <li class="text-justify">\(D\) = cargas muertas, o momentos y fuerzas internas correspondientes. </li>
            <li class="text-justify">\(E\) = efectos de carga producidos por el sismo o momentos y fuerzas internas correspondientes. </li>
            <li class="text-justify">\(E_c\) = módulo de elasticidad del concreto </li>
            <li class="text-justify">\(E_{cb}\) = módulo de elasticidad del concreto de la viga.</li>
            <li class="text-justify">\(E_s\) = módulo de elasticidad del refuerzo y del acero estructural.</li>
            <li class="text-justify">\(f_c'\) = resistencia especificada a la compresión del concreto.</li>
            <li class="text-justify">\(l_d\) = longitud de desarrollo en tracción para barras corrugadas, alambres corrugados, refuerzo electrosoldado de alambre liso o corrugado, o torones de preesfuerzo.</li>
            <li class="text-justify">\(l\) = luz de la viga o losa en una dirección; proyección libre del voladizo.</li>
            <li class="text-justify">\(l_n\) = luz libre medida entre caras de los apoyos.</li>
            <li class="text-justify">\(L\) = cargas vivas, o momentos y fuerzas internas correspondientes.</li>
            <li class="text-justify">\(M_{max}\) = máximo momento mayorado en la sección debido a las cargas aplicadas externamente.</li>
            <li class="text-justify">\(M_n\) = resistencia nominal a flexión en la sección.</li>
            <li class="text-justify">\(M_{nb}\) = resistencia nominal a flexión de la viga, incluyendo el efecto de la losa cuando está en tracción, que llega a un nudo.</li>
            <li class="text-justify">\(M_{pr}\) = resistencia probable a la flexión de los elementos, con o sin carga axial, determinada usando las propiedades de los elementos en las caras de los nudos suponiendo un esfuerzo en tracción para las barras longitudinales de al menos 1.25\(f_y\) y un factor de reducción de la resistencia \(φ\) de 1.0.</li> 
            <li class="text-justify">\(M_r\) = Momento resistente de la sección diseñada que debe ser mayor a >\(M_u\).</li>
            <li class="text-justify">\(P_b\) = resistencia axial nominal en condiciones de deformación unitaria balanceada.</li>
            <li class="text-justify">\(P_n\) = resistencia axial nominal de la sección transversal.</li>
            <li class="text-justify">\(P_u\) = fuerza axial mayorada; debe tomarse como positiva para compresión y negativa para tracción.</li>
            <li class="text-justify">\(s\) = espaciamiento medido centro a centro de unidades tales como refuerzo longitudinal, refuerzo transversal, tendones de preesfuerzo, alambres, o anclajes.</li>  
            <li class="text-justify">\(U\) = resistencia requerida para resistir las cargas mayoradas o momentos y fuerzas internas correspondientes.</li> 
            <li class="text-justify">\(v_n\) = esfuerzo resistente nominal de cortante.</li>
            <li class="text-justify">\(V_c\) = resistencia nominal al cortante proporcionada por el concreto.</li>
            <li class="text-justify">\(V_e\) = fuerza cortante de diseño correspondiente al desarrollo de la resistencia probable a momento del elemento.</li>
            <li class="text-justify">\(V_s\) = resistencia nominal a cortante proporcionada por el refuerzo de cortante.</li>    
            <li class="text-justify">\(V_u\) = fuerza cortante mayorada en la sección.</li> 
            <li class="text-justify">\(w_u\) = carga mayorada por unidad de longitud de viga, o losa en una dirección.</li> 
            <li class="text-justify">\(x\) = menor dimensión de la parte rectangular de una sección transversal.</li>
            <li class="text-justify">\(y\) = mayor dimensión de la parte rectangular de una sección transversal.</li>
            <li class="text-justify">\(y_t\) = distancia desde el eje que pasa por el centroide de la sección bruta a la fibra extrema en tracción, sin considerar el refuerzo.</li>
            <li class="text-justify">\(β_1\) = factor que relaciona la profundidad de bloque rectangular equivalente de esfuerzos de compresión con la profundidad del eje neutro.</li>
            <li class="text-justify">\(ε_s\) = deformación unitaria neta de tracción en el acero longitudinal.</li>
            <li class="text-justify">\(ε_t\) = deformación unitaria neta de tracción en el acero longitudinal extremo en tracción, en el estado de resistencia nominal, excluyendo las deformaciones unitarias causadas por preesfuerzo efectivo, flujo plástico, retracción de fraguado, y variación de temperatura.</li>
            <li class="text-justify">\(ρ\) = cuantía del refuerzo \(A_s\) evaluada sobre el área \(bd\).</li>
            <li class="text-justify">\(ρ'\) = cuantía del refuerzo \(A_s'\) evaluada sobre el área \(bd\).</li>
            <li class="text-justify">\(ρ_b\) = cuantía de refuerzo \(A_s\) evaluada sobre el área \(bd\) que produce condiciones balanceadas de deformación unitaria.</li>
            <li class="text-justify">\(ρ_s\) = relación entre el volumen de refuerzo en espiral y el volumen total del núcleo confinado por la espiral (medido hasta el diámetro exterior de la espiral).</li>
            <li class="text-justify">\(φ\) = factor de reducción de resistencia.</li>
        </div>
    </div>
<!-----Materiales----->
    <div class="container p-2">
        <button class="materiales-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#materialesToggler"
        aria-controls="materialesToggler" aria-expanded="false" aria-label="Toggle materiales">Materiales</button>
        <div class="collapse materiales-collapse" id="materialesToggler">
            <div>
                <li class="text-justify">Para concreto en estructuras capacidad de disipación de energía moderada (DMO) y especial (DES) La resistencia especificada a la compresión del concreto, \(f’_c\), no debe ser menor que 21 MPa. Se exime de esta restricción a las estructuras hasta de tres pisos cuyo sistema de resistencia sísmica consista en muros de carga.</li>
                <p class="text-right">(NSR-10, Sec. C.21.1.4.2)</p>
            </div>
            <div>
                <li class="text-justify">El refuerzo debe ser corrugado y el refuerzo liso sólo puede utilizarse en estribos, espirales o tendones, y refuerzo de repartición y temperatura. La norma solamente permite utilizar el acero liso en pernos con cabeza para refuerzo cortante, perfiles de acero estructural o en tubos o elementos tubulares de acero. </li>
                <p class="text-right">(NSR-10, Sec. C.3.5.1)</p>
            </div>
            <div>
                <li class="text-justify">El refuerzo debe ser corrugado y el refuerzo liso sólo puede utilizarse en estribos, espirales o tendones, y refuerzo de repartición y temperatura. La norma solamente permite utilizar el acero liso en pernos con cabeza para refuerzo cortante, perfiles de acero estructural o en tubos o elementos tubulares de acero. </li>
                    <br>\(→\)La resistencia real a la fluencia basada en ensayos realizados por la fábrica no sea mayor que \( f_y \) en más de 125 MPa.
                    <br>\(→\)La relación entre la resistencia real de tracción y la resistencia real de fluencia no sea menor de 1.25.
                <p class="text-right">(NSR-10, Sec. C.21.1.4.2.)</p>
            </div>
        </div>
    </div>
<!-----Suposiciones de diseño----->
    <div class="container p-2">
        <button class="suposiciones-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#suposicionesToggler"
        aria-controls="suposicionesToggler" aria-expanded="false" aria-label="Toggle suposiciones">Suposiciones de diseño</button>
        <div class="collapse suposiciones-collapse" id="suposicionesToggler">
            <div>
                <li class="text-justify">Las deformaciones unitarias en el refuerzo y en el concreto deben suponerse directamente proporcionales a la distancia desde el eje neutro, excepto que, para las vigas de gran altura definidas en C.10.7.1, debe emplearse un análisis que considere una distribución no lineal de las deformaciones unitarias. Alternativamente, se permite emplear el modelo puntual tensor.</li>
                <p class="text-right">(NSR-10, Sec. C.10.2.2)</p>
            </div>
            <div>
                <li class="text-justify">La máxima deformación unitaria utilizable en la fibra extrema sometida a compresión del concreto se supone igual a 0.003.</li>
                <p class="text-right">(NSR-10, Sec. C.10.2.3)</p>
            </div>
            <div>
                <li class="text-justify">El esfuerzo en el refuerzo cuando sea menor que \(f_y\) debe tomarse como \(E_s\) veces la deformación unitaria del acero(\(E_s* ε_s\)). Para deformaciones unitarias mayores que las correspondientes a \(f_y\), el esfuerzo se considera independiente de la deformación unitaria e igual a \(f_y\).</li>
                <p class="text-right">(NSR-10, Sec. C.10.2.4)</p>
            </div>
            <div>
                <li class="text-justify">La resistencia a la tracción del concreto no debe considerarse en los cálculos de elementos de concreto reforzado sometidos a flexión y a carga axial, excepto cuando se cumplan los requisitos de C.18.4</li>
                <p class="text-right">(NSR-10, Sec. C.10.2.5)</p>
            </div>
            <div>
                <li class="text-justify">La relación entre la distribución de los esfuerzos de compresión en el concreto y la deformación unitaria en el concreto se debe suponer rectangular, trapezoidal, parabólica o de cualquier otra forma que de origen a una predicción de la resistencia que coincida con los resultados de ensayos representativos </li>
                <p class="text-right">(NSR-10, Sec. C.10.2.6)</p>
            </div> 
            <div class="py-2">
                <li class="text-justify">Los requisitos anteriores se satisfacen con una distribución rectangular equivalente de esfuerzos en el concreto, definida como sigue</li>
                <p class="text-right">(NSR-10, Sec. C.10.2.7)</p>
                <div class="text-center">
                    <img class="rounded mx-auto mw-100" src="{% static 'img/norma_vigasesfuerzo.png' %}" alt="Comportamiento del esfuerzo de la viga"><br><br>
                </div>
            </div>    
            <div>
                <li class="text-justify">Un esfuerzo en el concreto de \(0.85f_c'\) uniformemente distribuido en una zona de compresión equivalente, limitada por los bordes de la sección transversal y por una línea recta paralela al eje neutro, \(a\) una distancia \(a = β1c\) de la fibra de deformación unitaria máxima en compresión. </li>
                <p class="text-right">(NSR-10, Sec. C.10.2.7.1)</p>
            </div>
            <div>
                <li class="text-justify">La distancia desde la fibra de deformación unitaria máxima al eje neutro, \(c\), se debe medir en dirección perpendicular al eje neutro.</li>
                <p class="text-right">(NSR-10, Sec. C.10.2.7.2)</p>
            </div>
            <div>
                <li class="text-justify">Para \(f’_c\) entre 17 y 28 MPa, el factor \(β_1\) se debe tomar como 0.85. Para \(f’_c\) superior a 28 MPa, \(β_1\) se debe disminuir en forma lineal a razón de 0.05 por cada 7 MPa de aumento sobre 28 MPa, sin embargo, \(β_1\) no debe ser menor de 0.65. </li>
                <p class="text-right">(NSR-10, Sec. C.10.2.7.3)</p>
            </div>
        </div>
    </div>
<!-----Principios y requisitos generales----->
    <div class="container p-2">
        <button class="principios-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#principiosToggler"
        aria-controls="principiosToggler" aria-expanded="false" aria-label="Toggle principios">Principios y requisitos generales</button>
        <div class="collapse principios-collapse" id="principiosToggler">
            <div>
                <li class="text-justify">El diseño de las secciones transversales sometidas a cargas de flexión, ó cargas axiales, o a la combinación de ambas (flexo-compresión) debe basarse en el equilibrio y la compatibilidad de deformaciones, utilizando las hipótesis de C.10.2.</li>
                <p class="text-right">(NSR-10, Sec. C.10.3.1)</p>
            </div>
            <div>
                <li class="text-justify">La condición de deformación balanceada existe en una sección transversal cuando el refuerzo en tracción alcanza la deformación unitaria correspondiente a \(f_y\) al mismo tiempo que el concreto en compresión alcanza su deformación unitaria última supuesta de 0.003.</li>
                <p class="text-right">(NSR-10, Sec. C.10.3.2)</p>
                <img src="" alt="">
                <div class="text-center">
                    <img class="rounded mx-auto mw-100" src="{% static 'img/norma_vigasdefunitaria.png' %}" alt="Distribucion de la deformación unitaria"><br><br>
                </div>
            </div>
            <div>
                <li class="text-justify">Las secciones se denominan controladas por compresión si la deformación unitaria neta de tracción en el acero extremo en tracción, \(ε_t\) , es igual o menor que el límite de deformación unitaria controlada por compresión cuando el concreto en compresión alcanza su límite de deformación supuesto de 0.003. El límite de deformación unitaria controlada por compresión es la deformación unitaria neta de tracción del refuerzo en condiciones de deformación unitaria balanceada. Para refuerzo Grado 420, y para todos los refuerzos preesforzados, se permite fijar el límite de deformación unitaria controlada por compresión en 0.002. <br>
                Las secciones son controladas por tracción si la deformación unitaria neta de tracción en el refuerzo de acero extremo en tracción, \(ε_t\) , es igual o mayor a 0.005, justo cuando el concreto en compresión alcanza su límite de deformación unitaria asumido de 0.003. Las secciones con \(ε_t\) entre el límite de deformación unitaria controlada por compresión y 0.005 constituyen una región de transición entre secciones controladas por compresión y secciones controladas por tracción. 
                </li>
                <p class="text-right">(NSR-10, Sec. C.10.3.3 y Sec. C.10.3.4)</p>
                    <div class="text-center">
                    <img class="rounded mx-auto mw-100" src="{% static 'img/norma_vigasvariacionphi.png' %}" alt="Variacion de phi"><br><br>
                    </div>
            </div>
            <div>
                <li class="text-justify">Para elementos no preesforzados en flexión y elementos no preesforzados con carga axial mayorada de compresión menor a \(0.10f’_c A_g\) , \(ε_t\) en el estado de resistencia nominal no debe ser menor a 0.004.
                </li>
                <p class="text-right">(NSR-10, Sec. C.10.3.5)</p>
            </div>
            <div>
                <li class="text-justify">En toda sección de un elemento sometido a flexión cuando por análisis se requiera refuerzo de tracción, excepto lo establecido en C.10.5.2, C.10.5.3 y C.10.5.4, el As proporcionado no debe ser menor que el obtenido por medio de:</li>
                <div class="text-center">
                    <br>\[A_(s.min)={0.25\sqrt{f'_c}\over f_y}  b_w d\]
                    Pero no menor a: <br>
                    \[A_s={1.4b_w d\over f_y}\] 
                    <br>
                </div> 
                <p class="text-right">(NSR-10, Sec. C.10.5.1)</p>
            </div>
        </div>
    </div>
<!-----Espaciamiento del refuerzo (general)----->
    <div class="container p-2">
        <button class="esp-refuerzo-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#esp-refuerzoToggler"
        aria-controls="esp-refuerzoToggler" aria-expanded="false" aria-label="Toggle esp-refuerzo">Espaciamiento del refuerzo (general)</button>
        <div class="collapse esp-refuerzo-collapse" id="esp-refuerzoToggler">
            <div>
                <li class="text-justify">El espaciamiento del refuerzo más cercano a una superficie en tracción, \(S\), no debe ser mayor que el dado por:
                <div align="center">
                    <br>\[S=380*({280\over f_s })-2.5c_c\]
                    Pero debe cumplirse que: <br> 
                    \[S < 300 {280\over f_S}\]
                    <br>
                </div> 
                donde \(c_c\) es la menor distancia desde la superficie del refuerzo o acero de preesforzado a la cara en tracción. El esfuerzo calculado \(f_s\) (MPa) en el refuerzo más cercano a la cara en tracción para cargas de servicio debe obtenerse con base en el momento no mayorado. Se permite tomar \(f_s\) como 2/3 de \(f_y\).
                </li>
                <p class="text-right">(NSR-10, Sec. C.10.6.4)</p>
            </div>
            <div>
                <li class="text-justify">La distancia libre mínima entre barras paralelas de una capa debe ser igual al diámetro nominal de la barra “\(d_b\)”, pero no menor de 25 mm.</li>
                <p class="text-right">(NSR-10, Sec. C.7.6.1)</p>
            </div>
            <div>
                <li class="text-justify">El tamaño máximo nominal del agregado grueso no debe ser superior a:<br>
                    <br>\(→\) \({1\over 5}\) de la menor separación entre los lados del encofrado.<br>
                    \(→\) \({1\over 3}\) de la altura de la losa.<br>
                    \(→\) \({3\over 4}\) del espaciamiento mínimo libre entre las barras o alambres individuales de refuerzo, paquetes de barras, tendones individuales, paquetes de tendones o ductos.<br>
                </li>
                <br><p class="text-right">(NSR-10, Sec. C.3.3.2)</p>
            </div>
            <div>
                <li class="text-justify">Cuando el refuerzo paralelo se coloque en dos o más capas, las barras de las capas superiores deben colocarse exactamente sobre las de las capas inferiores, con una distancia libre entre capas no menor de 25mm.
                </li>
                <p class="text-right">NSR-10, Sec. C.7.6.2)</p>
            </div>
            En resumen:<br><br>
            <div class=text-center>
                
                \(→ S≥25mm \) (NSR-10, Sec. C.7.6.1).<br><br>
                \(→ S≥d_b \) (NSR-10, Sec. C.7.6.1).<br><br>
                \(→ S≥{4\over3}_{agregado}\) (NSR-10, Sec. C.3.3.2).

            </div>
        </div>
    </div>
<!-----Protección de concreto para el refuerzo----->
    <div class="container p-2">
        <button class="proteccion-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#proteccionToggler"
        aria-controls="proteccionToggler" aria-expanded="false" aria-label="Toggle proteccion">Protección de concreto para el refuerzo</button>
        <div class="collapse proteccion-collapse" id="proteccionToggler">
            <div>
                <li class="text-justify">Para el concreto construido en sitio, a menos que se exija un recubrimiento mayor de concreto, el recubrimiento especificado para el refuerzo no debe ser menor que:</li>
                <div class="text-center">
                <img class="rounded mx-auto mw-100" src="{% static 'img/norma_vigasrecubrimiento.png' %}" alt="Recubrimiento minimo">
                </div>             
                <p class="text-right">(NSR-10, Sec. C.7.7.1)</p>
            </div>
        </div>
    </div>
<!-----Requisitos geométricos----->
    <div class="container p-2">
        <button class="geometria-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#geometriaToggler"
        aria-controls="geometriaToggler" aria-expanded="false" aria-label="Toggle geometria">Requisitos geométricos</button>
        <div class="collapse geometria-collapse" id="geometriaToggler">
            <br><h4><u>DMI</u></h4><br>
            <div>
                <li class="text-justify">La luz libre, \(l_n\), debe ser igual o menor a cuatro veces la altura total del elemento (Vigas de gran altura):
                <br> \[l_n≤4h\]
                </li>        
                <p class="text-right">(NSR-10, Sec. C.10.7.1)</p>
            </div>
            <div>
                <li class="text-justify">La separación entre los apoyos laterales de una viga no debe exceder de 50 veces el menor ancho \(b\) del ala o cara de compresión.</li>             
                <p class="text-right">(NSR-10, Sec. C.10.4.1)</p>
            </div>
            <br><h4><u>DMO</u></h4><br>
            <div>
                <li class="text-justify">El ancho del elemento, \(b_w\) , no debe ser menor que 200mm:
                <br> \[b_w≥200mm\]<br>
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.3.4.1)</p>
            </div>
            <div>
                <li class="text-justify">La excentricidad respecto a la columna que le da apoyo no puede ser mayor que el 25% del ancho del apoyo medido en la dirección perpendicular a la dirección del eje longitudinal de la viga
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.3.4.2)</p>
            </div>
            <div>
                <li class="text-justify">Para que el elemento sea considerado como una viga, la carga axial mayorada de compresión del elemento, \(P_u\), no puede ser mayor a \({A_g f'_c\over10}\), de lo contrario será considerado y analizado como una columna.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.3.2)</p>
            </div>
            <br><h4><u>DES</u></h4><br>
            <div>
                <li class="text-justify">La fuerza mayorada de compresión axial en el elemento, \(P_u\) , no debe exceder \({A_g f'_c\over10}\)
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.5.1.1)</p>
            </div>
            <div>
                <li class="text-justify">La luz libre del elemento, \(l_n\), no debe ser menor que cuatro veces su altura útil  
                </li>        
                \[l_n≤4h\]
                <p class="text-right">(NSR-10, Sec. C.21.5.1.2)</p>
            </div>
            <div>
                <li class="text-justify">El ancho del elemento, \(b_w\) , no debe ser menor que el más pequeño de 0.3h y 250mm ( \(b_w≥0.3h\) ; \(b_w≥250mm\) ), pero no debe exceder el ancho del elemento de apoyo \(c_2\), más una distancia a cada lado igual al menor entre el ancho del elemento de apoyo, \(c_2\), y 3/4 veces la dimensión total del elemento de apoyo \(c_1\)
                </li>        
            
                <br><p class="text-right">(NSR-10, Sec. C.10.5.1.3 y Sec. C.21.5.1.4)</p>
            </div>
            <div>
                <li class="text-justify">Además, dependiendo del tipo de apoyo, para vigas o losas nervadas en una dirección, del tipo de apoyo, existen alturas o espesores mínimos a tener en cuenta siempre y cuando los elementos en una dirección no soporten o estén ligados a particiones u otro tipo de elementos susceptibles de dañarse debido a deflexiones grandes. A menos que el cálculo de las deflexiones indique es permitido utilizar un espesor menor sin causar daños adversos.</li>
                <div class="text-center">
                <img class="rounded mx-auto mw-100" src="{% static 'img/norma_vigasespesormin.png' %}" alt="Alturas mínimas de vigas">
                </div>    
                <p class="text-right">(NSR-10, Sec. C.9.5.2.1 y TABLA C.9.5(a))</p>
            </div>
        </div>
    </div>
<!-----Refuerzo longitudinal----->  
    <div class="container p-2">
        <button class="r-longitudinal-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#r-longitudinalToggler"
        aria-controls="r-longitudinalToggler" aria-expanded="false" aria-label="Toggle r-longitudinal">Refuerzo longitudinal</button>
        <div class="collapse r-longitudinal-collapse" id="r-longitudinalToggler">
            <br><h4><u>DMI</u></h4><br>
            <div>
                <li class="text-justify">Las vigas deben tener al menos dos barras longitudinales continuas colocadas a lo largo de ambas caras superior e inferior. Estas barras deben desarrollarse en la cara de apoyo.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.2.2)</p>
                </div>
            <br><h4><u>DMO</u></h4><br>
            <div>
                <li class="text-justify">En cualquier sección de la viga el refuerzo superior e inferior no debe tener una cuantía, \(ρ\), inferior a la que se obtiene con la ecuación C.10-3, ni debe exceder 0.025. Debe haber al menos dos barras continuas con diámetro igual o superior a Nº 4 (1/2”) ó 12M (12 mm), tanto arriba como abajo.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.3.4.3)</p>
            </div>
            <div>
                <li class="text-justify">La resistencia a momento positivo en la cara del nudo no debe ser menor que 1/3 de la resistencia a momento negativo proporcionada en esa misma cara del nudo. La resistencia a momento negativo o positivo, en cualquier sección a lo largo de la longitud del elemento, no debe ser menor de 1/5 de la resistencia máxima a momento proporcionada en la cara de cualquiera de los nudos.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.3.4.4)</p>
            </div>
            <div>
                <li class="text-justify">No se permiten empalmes por traslapo dentro de los nudos.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.3.4.5)</p>
            </div>
            <br><h4><u>DES</u></h4><br>
            <div>
                <li class="text-justify">En cualquier sección de un elemento a flexión, excepto por lo dispuesto en C.10.5.3, para el refuerzo tanto superior como inferior, el área de refuerzo debe cumplir:
                    <br><br>\[A_{s.min} ≥ {(0.25\sqrt{f'_c})\over f_y}  b_w d ≥ {(1.4b_w d)\over f_y} ( Esfuerzos en Mpa)\] 
                    <br>\[A_{s.min} ≥ {(0.8\sqrt{f'_c})\over f_y}  b_w d ≥ {(14b_w d)\over f_y} ( Esfuerzos en {kgf\over cm^2})\] <br><br>
                Además, la cuantía de refuerzo, \(ρ\), no debe exceder 0.025. Al menos dos barras deben disponerse en forma continua tanto en la parte superior como inferior.     
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.5.2.1)</p>
            </div>
            <div>
                <li class="text-justify">La resistencia a momento positivo en la cara del nudo no debe ser menor que 1/2 de la resistencia a momento negativo proporcionada en esa misma cara. La resistencia a momento negativo o positivo, en cualquier sección a lo largo de la longitud del elemento, debe ser menor a 1/4 de la resistencia máxima a momento proporcionada en la cara de cualquiera de los nudos.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.5.2.2)</p>
            </div>
            <div>
                <li class="text-justify">Sólo se permiten empalmes por traslapo de refuerzo de flexión cuando se proporcionan estribos cerrados de confinamiento o espirales en la longitud de empalme por traslapo. El espaciamiento del refuerzo transversal que confina las barras traslapadas no debe exceder al menor entre d/4 y 100 mm. No deben usarse empalmes por traslapo:
                    <br>\(→\) Dentro de los nudos.
                    <br>\(→\) En una distancia de dos veces la altura del elemento medida desde la cara del nudo.
                    <br>\(→\) Donde el análisis indique fluencia por flexión causada por desplazamientos laterales inelásticos del pórtico.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.5.2.3)</p>
            </div>
            <div>
                <li class="text-justify">Los empalmes mecánicos deben cumplir con C.21.1.6 y los empalmes soldados deben cumplir con C.21.1.7 
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.5.2.4)</p>
            </div>
        </div>
    </div>
<!-----Refuerzo transversal----->
    <div class="container p-2">
        <button class="r-transversal-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#r-transversalToggler"
        aria-controls="r-transversalToggler" aria-expanded="false" aria-label="Toggle r-transversal">Refuerzo transversal</button>
        <div class="collapse r-transversal-collapse" id="r-transversalToggler">
            <br><h4><u>DMI</u></h4><br>
            <div>
                <li class="text-justify"><b>Espaciamiento:</b><br>El espaciamiento del refuerzo de cortante colocado perpendicularmente al eje del elemento debe cumplir:
                <br><br>\(→ S≤{d\over 2}\) en elementos de concreto no preesforzado.
                <br>\(→ 0.75h\) en elementos preesforzados.
                <br>\(→ 600mm.\)<br><br>
                </li>
                <p class="text-right">(NSR-10, Sec. C.11.4.5.1)</p>
                Los estribos inclinados y el refuerzo longitudinal doblado deben estar espaciados de manera tal que cada línea a 45º, que se extienda hacia la reacción desde la mitad de la altura del elemento, d/2, hasta el refuerzo longitudinal de tracción, debe estar cruzada por lo menos por una línea de refuerzo de cortante.
                <p class="text-right"><br>(NSR-10, Sec.C.11.4.5.1)</p>
                <br>Donde \(V_s\) sobrepase \(0.33 \sqrt{f'_C} b_W d\) las separaciones máximas dadas en C.11.4.5.1 y C.11.4.5.2 se deben reducir a la mitad.
                <p class="text-right"><br>(NSR-10, Sec.C.11.4.5.3)</p>
                </li>
            </div>
            <br><h4><u>DMO</u></h4><br>
            <div>
                <li class="text-justify"><b>Disposición:</b><br><br>En ambos extremos del elemento, deben disponerse estribos cerrados de confinamiento al menos No. 3 (3/8”) ó 10M (10 mm) por longitudes iguales a 2\(h\), medidas desde la cara de elemento de apoyo hacia el centro de la luz
                <p class="text-right"><br>(NSR-10, Sec. C.21.3.4.6)</p>
                Donde se requieran estribos cerrados de confinamiento, las barras longitudinales del perímetro deben tener soporte lateral conforme a C.7.10.5.3
                <p class="text-right"><br>(NSR-10, Sec.C.21.3.4.7)</p>
                </li>
                <li class="text-justify"><b>Espaciamiento:</b><br>El primer estribo cerrado de confinamiento debe estar situado a no más de 50 mm de la cara del elemento de apoyo. El espaciamiento de los estribos cerrados de confinamiento no debe exceder el menor valor de:
                    <br><br>\(→ {d\over 4}\) 
                    <br>\(→ 8d_b\) (barra longitudinal de menor diámetro).
                    <br>\(→ 24d_e\) (estribo de confinamiento).
                    <br>\(→ 600mm\)
                    <br><br>
                <p class="text-right">(NSR-10, Sec. C.21.3.4.6)</p>
                Deben colocarse estribos con ganchos sísmicos en ambos extremos espaciados a no más de \({d\over 2}\) en toda la longitud del elemento. 
                <p class="text-right"><br>(NSR-10, Sec. C.21.3.4.8)</p>
                </li>
            </div>
            <br><h4><u>DES</u></h4><br>
            <div>
                <li class="text-justify"><b>Disposición:</b><br>Deben disponerse estribos cerrados de confinamiento en las siguientes regiones de los elementos pertenecientes a pórticos:
                    <br><br>\(→\)  En una longitud igual a dos veces la altura del elemento, medida desde la cara de elemento de apoyo hacia el centro de la luz, en ambos extremos del elemento en flexión.
                    <br>\(→ \) En longitudes iguales a dos veces la altura del elemento a ambos lados de una sección donde puede ocurrir fluencia por flexión debido a desplazamientos laterales inelásticos del pórtico.
                    <br><br>
                <p class="text-right">(NSR-10, Sec. C.21.5.3.1)</p>
                Cuando se requieran estribos cerrados de confinamiento, las barras longitudinales del perímetro deben tener soporte lateral conforme a C.7.10.5.3. 
                <p class="text-right"><br>(NSR-10, Sec.C.21.5.3.3)</p>
                Los estribos que se requieran para resistir cortante deben ser estribos cerrados de confinamiento colocados en los lugares dentro de los elementos descritos en C.21.5.3.1.
                <p class="text-right"><br>(NSR-10, Sec.C.21.5.3.5)</p>
                Se permite que los estribos cerrados de confinamiento en elementos en flexión sean hechos hasta con dos piezas de refuerzo: un estribo con un gancho sísmico en cada extremo y cerrado por un gancho suplementario. Los ganchos suplementarios consecutivos que enlazan la misma barra longitudinal deben tener sus ganchos de 90º en lados opuestos del elemento en flexión. Si las barras de refuerzo longitudinal aseguradas por los ganchos suplementarios están confinadas por una losa en un solo lado del elemento en flexión, los ganchos de 90º de los ganchos suplementarios deben ser colocados en dicho lado.
                <p class="text-right"><br>(NSR-10, Sec.C.21.5.3.6)</p>
                </li>
                <li class="text-justify"><b>Espaciamiento:</b><br>El primer estribo cerrado de confinamiento debe estar situado a no más de 50 mm de la cara del elemento de apoyo. El espaciamiento de los estribos cerrados de confinamiento no debe exceder el menor valor de:
                    <br><br>\(→ {d\over 4}\) 
                    <br>\(→ 8d_b\) (barra longitudinal de menor diámetro).
                    <br>\(→ 24d_e\) (estribo de confinamiento).
                    <br>\(→ 600mm\)
                    <br><br>
                <p class="text-right">(NSR-10, Sec. C.21.5.3.2)</p>
                Cuando no se requieran estribos cerrados de confinamiento, deben colocarse estribos con ganchos sísmicos en ambos extremos, espaciados a no más de \({d\over 2}\) en toda la longitud del elemento.
                <p class="text-right"><br>(NSR-10, Sec. C.21.5.3.4)</p>        
                </li>
            </div>
        </div>
    </div>
<!-----Resistencia a cortante----->
    <div class="container p-2">
        <button class="cortante-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#cortanteToggler"
        aria-controls="cortanteToggler" aria-expanded="false" aria-label="Toggle cortante">Resistentia a cortante</button>
        <div class="collapse cortante-collapse" id="cortanteToggler">
            <br><h4><u>DMO</u></h4><br>
            <div>
                <li class="text-justify">El \(φV_n\) de vigas y columnas que resisten efectos sísmicos, \(E\), no debe ser menor que el menor de:
                    <br><br>\(→\)  La suma del cortante asociado con el desarrollo de los momentos nominales del elemento en cada extremo restringido de la luz libre y el cortante calculado para cargas gravitacionales mayoradas.
                    <br>\(→\) El cortante máximo obtenido de las combinaciones de carga de diseño que incluyan \(E\), considerando \(E\) como el doble del prescrito por el Título A del Reglamento NSR-10.
                </li>        
                    <p class="text-right">(NSR-10, Sec. C.21.3.3)</p>
                    </div>
            <br><h4><u>DES</u></h4><br>
            <div>
                <li class="text-justify">La fuerza cortante de diseño, \(V_e\) , se debe determinar a partir de las fuerzas estáticas en la parte del elemento comprendida entre las caras del nudo. Se debe suponer que en las caras de los nudos localizados en los extremos del elemento actúan momentos de signo opuesto correspondientes a la resistencia probable, \(M_{pr}\), y que el elemento está además cargado con cargas aferentes gravitacionales mayoradas a lo largo de la luz.
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.5.4.1)</p>
                <li class="text-justify">El refuerzo transversal en los lugares identificados en C.21.5.3.1 debe diseñarse para resistir cortante suponiendo \(V_c= 0\) cuando se produzcan simultáneamente: 
                    <br><br>\(→\) La fuerza cortante inducida por el sismo calculada de acuerdo con C.21.5.4.1 representa la mitad o más de la resistencia máxima a cortante requerida en esas zonas
                    <br>\(→\) La fuerza axial de compresión mayorada, \(P_u\), incluyendo los efectos sísmicos es menor que \({A_gf ’_c\over 20}\) .   
                </li>        
                <p class="text-right">(NSR-10, Sec. C.21.5.4.2)</p>
            </div>
        </div>
    </div>
  </div>


{% endblock %}

{% block script %}

{% endblock %}