{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="header envolvente">
    <h2>ENVOLVENTE DE MOMENTOS</h2>
</div>

<div>
    <div class="container p-3">
        <h3>Recubrimiento</h3>
        <div>
            <li class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisl quis nisl volutpat pharetra consectetur vel metus. Fusce aliquet fringilla mauris, a pellentesque mi consequat non. In facilisis arcu a metus scelerisque bibendum. Donec quis dictum metus, vitae blandit dolor.</li>
            <p class="text-right">(NRC-10, sec C5.5.5)</p>
        </div>
        <div class="py-2">
            <li class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisl quis nisl volutpat pharetra consectetur vel metus. Fusce aliquet fringilla mauris, a pellentesque mi consequat non. In facilisis arcu a metus scelerisque bibendum. Donec quis dictum metus, vitae blandit dolor.</li>
            <p class="text-right">(NRC-10, sec C5.5.5)</p>
            <div class="text-center">
                <img class="rounded mx-auto mw-100" src="{% static 'img/norma_orange.png' %}" alt="img de prueba">
            </div>
        </div>
        <div>
            <li class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisl quis nisl volutpat pharetra consectetur vel metus. Fusce aliquet fringilla mauris, a pellentesque mi consequat non. In facilisis arcu a metus scelerisque bibendum. Donec quis dictum metus, vitae blandit dolor.</li>
            <p class="text-right">(NRC-10, sec C5.5.5)</p>
        </div>
    </div>
    <div class="container p-3">
        <h3>Separación</h3>
        <div>
            <li class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisl quis nisl volutpat pharetra consectetur vel metus. Fusce aliquet fringilla mauris, a pellentesque mi consequat non. In facilisis arcu a metus scelerisque bibendum. Donec quis dictum metus, vitae blandit dolor.</li>
            <p class="text-right">(NRC-10, sec C5.5.5)</p>
        </div>
        <div>
            <li class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisl quis nisl volutpat pharetra consectetur vel metus. Fusce aliquet fringilla mauris, a pellentesque mi consequat non. In facilisis arcu a metus scelerisque bibendum. Donec quis dictum metus, vitae blandit dolor.</li>
            <p class="text-right">(NRC-10, sec C5.5.5)</p>
            <img src="" alt="">
        </div>
        <div>
            <li class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisl quis nisl volutpat pharetra consectetur vel metus. Fusce aliquet fringilla mauris, a pellentesque mi consequat non. In facilisis arcu a metus scelerisque bibendum. Donec quis dictum metus, vitae blandit dolor.</li>
            <p class="text-right">(NRC-10, sec C5.5.5)</p>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

{% endblock %}