{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STRUKTUR</title>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style-home.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Convergence|Overlock+SC|Raleway" rel="stylesheet">
</head>

<body>

  <header class="site-header">

    <div class="hero">

      <div class="contenido-header">
        <div class="logo-upb">
          <img src="../static/img/logo_upb_bw.png" alt="Logo UPB">
        </div>
        <div class="titulo">
          <h2>STRUKTUR</h2>
          <p>DE ESTUDIANTES PARA ESTUDIANTES</p>
        </div>
      </div>
      <a href='/inicio/'><button type="button" class="btn btn-outline-light">COMENZAR</button></a>
    </div>
  </header>


</body>

</html>